---js
{
  "title":"Events",
  "description": "Lists the events I've participated in over the years. Upcoming ones too!",  
  "layout": "generic",
  "pagination": {
    "data": "events",
    "size": 20,
    "alias": "items",
    "reverse": true,
    "before": function(data, fullData) { 
      return Array.from(data).sort((a, b) => {
        return a.date > b.date ? 1 : -1;
      });
    }
  },
  "headerImage": "/images/headers/header-events.jpg",
  "headerImageAltText": "An image of a crowd of people at an event",
  "headerImageAttribution": "Photo by <a href=\"https://unsplash.com/@jakobdalbjorn\" target=\"_blank\">Jakob Dalbjörn</a> on <a href=\"https://unsplash.com/photos/cuKJre3nyYc\" target=\"_blank\">Unsplash</a>."
}
---

<p>I attended a variety of conferences and events over the years, and sometimes I get a chance to present at them. Often I'm there working a booth or doing product demos somewhere, it just depends on the event. The following is a list of some events I attended. I'll add more as new ones pop up.</p>

{% include 'pagination-count.html' %}

<ul class="posts">
  {% for item in items %}
    <li>
      <h4>
        {{ item.title }}
      </h4>
      <span class="date">
        <strong>Date:
        </strong>
        {{ item.date }}
        {% if item.url.length > 0 %}
          |
          <a href="{{ item.url }}" target="_blank">
            <strong>Link to Event</strong>
          </a>
        {% endif %}
      </span>
      {% if item.description %}
        {{ item.description }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %}