---
title: Videos
description: Lists any public videos for presentations, product demos, or events where I've presented.
layout: generic
pagination:
  data: videos
  size: 20
  alias: items
  reverse: true
---

<p>Often when I present at a conference, the event records the presentation and makes them available online. Sometimes I fo a webinar or a product demonstration and the recording is made available. This page lists any public videos for presentations, product demos, or events where I've presented.</p>

{% include 'pagination-count.html' %}

<ul class="posts">
  {% for item in items %}
    <li>
      <h4>
        {{ item.title }}
      </h4>
      <span class="date">
        <strong>Date:
        </strong>
        {{ item.date }} |
        <strong>Format:
        </strong>
        {% if item.url.length > 0 %}
          |
          <a href="{{ item.url }}" target="_blank">
            <strong>Link to Video</strong>
          </a>
        {% endif %}
      </span>
      {% if item.description %}
        {{ item.description }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %}