 <!-- Footer -->
 <footer id="footer">
  <div class="inner">
    <section class="info">
      <h3>About Me</h3>
      <div class="about">
        <p>I'm a lot of different things: Product Manager at Oracle by day, a professional software developer, writer, presenter, father, husband, and Geek by night.</p>
        <ul class="actions">
          <li>
            <a href="{{ "/" | htmlBaseUrl }}about" class="button">Learn More</a>
          </li>
        </ul>
      </div>
      <div class="team">
        <article>
          <span class="image"><img src="images/pic06.jpg" alt=""></span>
          <p>
            <strong class="name">Home</strong>
            <span class="title">Charlotte, NC US</span>
          </p>
        </article>
        <article>
          <span class="image"><img src="images/pic07.jpg" alt=""></span>
          <p>
            <strong class="name">Jane Anderson</strong>
            <span class="title">Etiam feugiat adipiscing veroeros</span>
          </p>
        </article>
        <article>
          <span class="image"><img src="images/pic08.jpg" alt=""></span>
          <p>
            <strong class="name">Mike Smith</strong>
            <span class="title">Consequat nulla dolor blandit</span>
          </p>
        </article>
      </div>
    </section>
    <section class="contact">
      <h3>Contact Me</h3>
      <ul class="contact-icons">
                <li class="icon solid fa-envelope">
          <a href="mailto:&#106;&#111;&#104;&#110;&#064;&#106;&#111;&#104;&#110;&#119;&#097;&#114;&#103;&#111;&#046;&#099;&#111;&#109;">&#106;&#111;&#104;&#110;&#064;&#106;&#111;&#104;&#110;&#119;&#097;&#114;&#103;&#111;&#046;&#099;&#111;&#109;</a>
        </li>
        <li class="icon brands fa-github">
          <a href="https://github.com/johnwargo">@johnwargo</a>
        </li>
        <li class="icon brands fa-github">
          <a href="https://github.com/jwargo">@jwargo</a>
        </li>
        <li class="icon brands fa-mastodon">
          <a href="https://mastodon.social/@johnwargo">@johnwargo</a>
        </li>
        <li class="icon brands fa-twitter">
          <a href="https://twitter.com/johnwargo">@johnwargo</a>
        </li>
      </ul>
    </section>
  </div>

  {% include 'copyright.html' %}

</footer>