<nav id="nav">
  <ul>
    <li>
      <a href='/'>Home</a>
    </li>
    <li>
      <a href="{{ '/' | htmlBaseUrl }}articles/" class="icon solid fa-angle-down">Articles</a>
      <ul>
        <li><a href="{{ '/' | htmlBaseUrl }}articles/">All</a> </li>
        <li><a href="{{ '/' | htmlBaseUrl }}popular/">Most Popular</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}categories/">Categories</a> </li>
      </ul>
    </li>
    <li>
      <a href="{{ '/' | htmlBaseUrl }}sightings/" class="icon solid fa-angle-down">Sightings</a>
      <ul>
        <li><a href="{{ '/' | htmlBaseUrl }}sightings/events/">Events</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}sightings/packages/">Packages</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}sightings/publications/">Publications</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}sightings/references/">References</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}sightings/repositories/">Repositories</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}sightings/videos/">Videos</a></li>
      </ul>
    </li>    
    <li>
      <a href="{{ '/' | htmlBaseUrl }}about/" class="icon solid fa-angle-down">About</a>
      <ul>
        <li><a href="{{ '/' | htmlBaseUrl }}about/">About Me</a></li>
        <li><a href="https://jmwdemos.netlify.app" target="_blank">Apps & Demos</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}about/projects/">Projects</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}about/sites/">Sites</a></li>
        <li><a href="{{ '/' | htmlBaseUrl }}about/statistics/">Statistics</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ '/' | htmlBaseUrl }}search/">
        <i class="icon solid fa-search"></i>
      </a>
    </li>
    <li>
      <a rel="me" href="https://mastodon.social/@johnwargo" target="_blank">
        <i class="icon brands fa-mastodon"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/johnwargo/johnwargo-static-11ty" target="_blank">
        <i class="icon brands fa-github"></i>
      </a>
    </li>    
  </ul>
</nav>