---
layout: generic
title: Posts By Year
description: All posts on johnwargo.com in reverse chronological order.
pagination:
  data: collections.articlesByTimestamp
  size: 20
  alias: posts
  reverse: true 
headerImage: /images/headers/header-articles.jpg
headerImageAltText: An image of a stack of magazines
headerImageAttribution: Photo by <a href="https://unsplash.com/@bk71">Bernd Klutsch</a> on <a href="https://unsplash.com/photos/nE2HV5AUXFo">Unsplash</a>
---

This is a work in progress  

It should start with a list of years....


<br />
<br />
