.image.right.coffee {
  max-width: 290px;
}
.image.right.coffee p {
  margin: 0.5rem 0.5rem 1rem 1rem;
  line-height: 1.4;
}
.main section .image-full {
  max-width:100%;
}

#header .logo img {
  position: relative;
  top: 1.2rem;
  height: 3rem;
  margin-right: 0.8rem;
  border-radius: 3px;
}