---
layout: generic
title: Articles by Year
description: Allows you to browse all posts on the site organized by year of publication.
headerImage: /images/headers/header-categories.jpg
headerImageAltText: An image of folders fanned out
headerImageAttribution: Photo by <a href="https://unsplash.com/@aquadrata">Iwona Castiello d'Antonio</a> on <a href="https://unsplash.com/photos/vXwXZS5_HgY">Unsplash</a>
---

