---
title: Popular Articles
description: Top posts on johnwargo.com in reverse chronological order.
layout: generic
permalink: /popular/
headerImage: /images/headers/bernd-klutsch-nE2HV5AUXFo-unsplash-cropped.jpg
headerImageAltText: An image of a stack of magazines
headerImageAttribution: Photo by <a href="https://unsplash.com/@bk71">Bernd Klutsch</a> on <a href="https://unsplash.com/photos/nE2HV5AUXFo">Unsplash</a>
---

<p>This page lists the top 20 articles on the site by popularity according to Google Analytics.

<ul >
  {% for post in topPosts %}
    <li>
      <h4>
        <a href="{{post.url}}" style="cursor: pointer">{{ post.title }}</a>
      </h4>      
    </li>
  {% endfor %}
</ul>
