---
title: Projects
description: Lists special posts related to some big projects I've worked on.
layout: generic
headerImage: 
headerImageAltText: 
headerImageAttribution: 
---

{% assign projects = collections.projects | sort %}

<ul class="posts">
  {% for project in projects %}
    <li>
      <h4>
        <a href="{{ "/" | htmlBaseUrl }}projects/{{ project.data.title | slugify }}/">{{ project.data.title }}</a>
      </h4>      
      {% if project.data.description.length > 0 %}
        {{ project.data.description }}
      {% endif %}
    </li>
  {% endfor %}
</ul>