---
title: Sightings
description: Links to all the external articles, webinars, videos, and other resources related to John M. Wargo.
layout: home
---

<section class="main">
  <section>
    <h1>{{ title }}</h1>
    <p>Not only do I publish content here, but I have articles, presentations, code projects, and even the occasional product demonstration that shows up somewhere on the Internet. This page is my attempt to build references to these different appearances.</p>
  </section>

  <!-- Spotlights -->
  <section class="spotlights alt">
    <article>
      <a href="/sightings/publications/" class="image fit"><img src="/images/common/articles.jpg" alt=""></a>
      <h3>External Publications</h3>
      <p>Over my career, I published articles in a variety of different print and online publications.</p>
      <ul class="actions">
        <li> <a href="/sightings/publications/" class="button">View Article List</a></li>
      </ul>
    </article>
    <article>
      <a href="/sightings/events/" class="image fit"><img src="/images/common/events.jpg" alt=""></a>
      <h3>Events</h3>
      <p>I attended a variety of conferences and events over the years, and sometimes I get a chance to present at them. Often I'm there working a booth or doing product demos somewhere, it just depends on the event.</p>
      <ul class="actions">
        <li><a href="/sightings/events/" class="button">View Event List</a></li>
      </ul>
    </article>
    <article>
      <a href="https://github.com/johnwargo" class="image fit" target="_blank"><img src="/images/common/code.jpg" alt=""></a>
      <h3>Project Source Code</h3>
      <p>I'm happiest when I'm writing code! I spend a lot of time learning new technology and publish most of my projects under an open source license. Click the button below to visit my public GitHub account.</p>
      <ul class="actions">
        <li><a href="https://github.com/johnwargo" target="_blank" class="button">View Repositories</a></li>
      </ul>
    </article>
    <article>
      <a href="/sightings/packages" class="image fit"><img src="/images/common/code.jpg" alt=""></a>
      <h3>npm Packages</h3>
      <p>I published many packages to the npm repository.</p>
      <ul class="actions">
        <li><a href="/sightings/packages" class="button">View Packages</a></li>
      </ul>
    </article>
    <article>
      <a href="/sightings/references/" class="image fit" target="_blank"><img src="/images/common/link.jpg" alt=""></a>
      <h3>Online References</h3>
      <p>Every so often, someone references me or my work on an external site.
      </p>
      <ul class="actions">
        <li><a href="/sightings/references/" class="button">View References List</a></li>
      </ul>
    </article>
    <article>
      <a href="/sightings/videos/" class="image fit"><img src="/images/common/videos.jpg" alt=""></a>
      <h3>Videos</h3>
      <p>Often when I present at a conference, the event records the presentation and makes them available online. Sometimes I fo a webinar or a product demonstration and the recording is made available.</p>
      <ul class="actions">
        <li><a href="/sightings/videos/" class="button">View Video List</a></li>
      </ul>
    </article>
  </section>
  <section>
    <p>Articles photo by <a href="https://unsplash.com/@ashni_ahlawat">Ashni</a> on <a href="https://unsplash.com/photos/Wh9ZC4727e4">Unsplash</a> | Events photo by <a href="https://unsplash.com/@nate_dumlao">Nathan Dumlao</a> on <a href="https://unsplash.com/photos/tG4waP7YiAg">Unsplash</a> | Code photo by <a href="https://unsplash.com/@christianw">Christian Wiediger</a> on <a href="https://unsplash.com/images/apps/youtube">Unsplash</a>
      References (link) Photo by <a href="https://unsplash.com/@edge2edgemedia" target="_blank">Edge2Edge Media</a> on <a href="https://unsplash.com/photos/t1OalCBUYRc" target="_blank">Unsplash</a> | Videos photo by <a href="https://unsplash.com/@markusspiske">Markus Spiske</a> on <a href="https://unsplash.com/photos/cvBBO4PzWPg">Unsplash</a>
    </p>
  </section>
</section>