---
title: Sightings
description: Links to all the external articles, webinars, videos, and other resources related to John M. Wargo.
layout: home
---

<section class="main">

  <section>
    <h1>{{ title }}</h1>
    <p>Not only do I publish content here, but I have articles, presentations, code projects, and even the occasional product demonstration that shows up somewhere on the Internet. This page is my attempt to build references to these different apperances.</p>
  </section>

  <!-- Spotlights -->
  <section class="spotlights alt">
    <article>
      <a href="/sightings/publications/" class="image fit"><img src="/images/common/articles.jpg" alt=""></a>
      <h3>External Publications</h3>
      <p>Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac magna consequat.</p>
      <ul class="actions">
        <li>
          <a href="/sightings/publications/" class="button">View Article List</a>
        </li>
      </ul>
    </article>
    <article>
      <a href="/sightings/events/" class="image fit"><img src="/images/common/events.jpg" alt=""></a>
      <h3>Events</h3>
      <p>Purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
      <ul class="actions">
        <li>
          <a href="/sightings/events/" class="button">View Event List</a>
        </li>
      </ul>
    </article>
    <article>
      <a
        href="https://github.com/johnwargo"
        class="image fit"
        target="_blank"><img src="/images/common/code.jpg" alt=""></a>
      <h3>Project Source Code</h3>
      <p>View my source code projects in my public GitHub account..</p>
      <ul class="actions">
        <li>
          <a
            href="https://github.com/johnwargo"
            target="_blank"
            class="button">View Repisitories</a>
        </li>
      </ul>
    </article>
    <article>
      <a href="/sightings/videos/" class="image fit"><img src="/images/common/videos.jpg" alt=""></a>
      <h3>Videos</h3>
      <p>Purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
      <ul class="actions">
        <li>
          <a href="/sightings/videos/" class="button">View Video List</a>
        </li>
      </ul>
    </article>
  </section>
  <section>
    <p>Articles photo by
      <a href="https://unsplash.com/@ashni_ahlawat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ashni</a>
      on
      <a href="https://unsplash.com/photos/Wh9ZC4727e4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      | 
      Events photo by
      <a href="https://unsplash.com/@nate_dumlao?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nathan Dumlao</a>
      on
      <a href="https://unsplash.com/photos/tG4waP7YiAg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      | Code photo by
      <a href="https://unsplash.com/@christianw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Christian Wiediger</a>
      on
      <a href="https://unsplash.com/images/apps/youtube?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      | Videos photo by
      <a href="https://unsplash.com/@markusspiske?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Markus Spiske</a>
      on
      <a href="https://unsplash.com/photos/cvBBO4PzWPg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
  </section>


</section>