---
title: Sites
description: A list of all of related sites I maintain.
layout: generic
---

<ul class="posts">
  {% for site in sites %}
    <li>
      <h4>
        <a
          href="{{ site.url }}"
          style="cursor: pointer"
          target="_blank">{{ site.name }}</a>
      </h4>
      {{ site.description }}
    </li>
  {% endfor %}
</ul>